


/*Make a Netflix backgroud */
body{
    background-color: rgba(43, 43, 43, 0.5);
    background-image: url("../images/snesflix.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    /*Coverd the backgroud with a dark*/

    
}


  








p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    z-index: auto;
    
}

@font-face {
  font-family:'Netflix';
  src: url(../fonts/BebasNeue-Regular.otf) format
  ('opentype'), url('../fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;



}


h1{
  font-family: 'Netflix','Times New Roman', Times, serif
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 20px;
  text-align: center;
}

/* make a button like a profile select from Netflix */
.button {
    background-color: #e50914;
    position: absolute;
    border: none;
    color: white;
    padding: 15px 32px;
    align-items: center;
    font-size: 18px;
    margin: 4px auto;
    left: 0;
    right: 0;
    cursor: pointer;
    width: 15%;
    text-align: center;
    border-radius: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 1;
    
   
}




.button:hover{
    background-color: #a2050dc3;
    color: #fff;
    transition: 0.8s;
    z-index: 1;
   
}





        

    
/* Make a  css called game-select witch allgh each game-item side by side in the center of the page  */
.game-select {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    margin: 10px;
  }
  
  .game-select input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  .game-select label {
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #e0e0e0;
    color: #333;
  }
  
  .game-select label:hover {
    background-color: #ccc;
    
  }
  

  .snes-button-box1 {
    background-image: url(../images/topgear-fita.png);
    background-size: cover;
    width: 150px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(0.8);
   

}

.snes-button-box1:hover{
transition: transform .3s;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
  }




  .snes-button-box2 {
    background-image: url(../images/chrono-fita.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}

.snes-button-box2:hover{
transition: transform .3s;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
  }

  .snes-button-box3 {
    background-image: url(../images/mario-fita.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}

.snes-button-box3:hover{
transition: transform .3s;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
  }

  .snes-button-box4 {
    background-image: url(../images/dk-fita.png);
    background-size: cover;
    width: 150px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    transform: scale(0.8);
    cursor: pointer;
    
}

.snes-button-box4:hover{
transition: transform .3s;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
  }


  .snes-button-box5 {
    background-image: url("../images/street-fita.png");
    background-size: cover;
    width: 150px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(0.8);
    cursor: pointer;
    
}

.snes-button-box5:hover{
transition: transform .3s;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
  }